html
{
    height:100%;
}

body
{
    padding: 0px;
    margin: 0px;
    height:100%;
}

#headerDiv
{
    height: 230px;
    width: 100%;
    margin: auto;
    background: #67A7E6;
}

#banner
{
    height: 120px;
    width: 75%;
    background-image: url('images/banner.png');
    background-repeat: repeat-x;
    margin: auto;
}

#logo
{
    display: none;
    height: 100px;
    width: 100px;
    margin-top: 25px;
    margin-left: 25px;
    background-color: #034769;
    float: left; /*background-image:tree-of-practices-screen.gif;*/
}

#pageTitle
{
    height: 150px;
    width: 300px;
    margin: auto;
    background-color: #0000FF;
}

#navigationTop
{
    height: 60px;
    width: 75%;
    margin: auto;
    overflow: hidden;
    background-color: #034769;
}

#navigationTop ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigationTop li
{
    display: inline;
}

#navigationTop a
{
    float: left;
    height: 60px; /*background-image: url('images/gn-button.png');*/
    width: 180px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    margin-left: 5px;
    color: #FFFFFF;
}

#navigationTop a:hover
{
    /*background-image: url('images/gn-buttonhover.png');*/
}

#backgroundMain
{
    height: 100%;
    padding: 0;
    width: 100%;
    margin: auto; /*background-color: #67a7e6;*/ /*Light Blue Side Bars*/
    background-color: #67A7E6;
}

#backgroundContent
{
    height: 100%;
    width: 75%;
    margin: auto; /*background-color: #67A7E6;*/
    background-color: #FFFFFF;
}

#sitemap
{
    height: 100%;
    width: 180px;
    float: left;
    margin-right: auto;
    background-color: #67A7E6;
}

/*******Content Styling********/
#content
{
    /*height: 100%;*/
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
}

#whatsNew
{
}

#mostRecentBlogPost
{
    margin-bottom: 50px;
}

#mostRecentBlogTitle
{
    text-align: center;
    margin-bottom: 20px;
}

#mostRecentBlogContent
{
}

#videoOfTheWeek
{
    /*border: 1px solid blue;*/
    float: left;
    width: 50%;
    height: 500px;
}

#topic
{
    float: right;
    width: 50%;
    height: 250px;
}

#quote
{
    float: right;
    width: 50%;
    height: 250px;
}

/************************/

#footerDiv
{
    height: 40px;
    width: 75%;
    background-color: #034769;
    margin: auto;
}
